@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

$allison : 'Allison', sans-serif;
$lato : 'Lato', sans-serif;

p, li, a, span, em {
  font-family: $lato;
  font-weight: 400;
}

