<section id="contact">
	<div class="contact__header"></div>

	<div class="contact">
		<div class="contact__address" data-aos="fade-left">
			<h3>Address</h3>
			<p>Zip Code, Street
				<br>
				City, State
			</p>
		</div>

		<div class="contact__info" data-aos="fade-right">
			<h3>Contact</h3>
			<a href="tel:+38349326862" target="blank"><strong>Tel.: </strong>+383 49 326 862</a>
			<br>
			<br>
			<a href="mailto:vilsonnahmeti@gmail.com" target="blank"><strong>E-mail: </strong>vilsonnahmeti@gmail.com</a>
		</div>

		<partial src="/footer.html"></partial>
	</div>
</section>