<section id="menu">
	<div class="container">
	<div class="menu__header" data-aos="fade-down" data-aos-duration="1500">
		<h1>Menu</h1>
	</div>

	<div class="slider" data-aos="fade-up" data-aos-duration="1500">
		<div class="menu">
			<div class="card" style="background-image: url('img/esspresso.jpeg');">
				<h2>Esspresso</h2>
        	</div>
		</div>

		<div class="menu">
			<div class="card" style="background-image: url('img/cappuccino.jpeg');">
				<h2>Cappuccino</h2>
        	</div>
		</div>

		<div class="menu">
			<div class="card" style="background-image: url('img/macchiato.jpeg');">
				<h2>Macchiato</h2>
        	</div>
		</div>

		<div class="menu">
			<div class="card" style="background-image: url('img/frape.png');">
				<h2>Mocha Frappe</h2>
        	</div>
		</div>

		<div class="menu">
			<div class="card" style="background-image: url('img/frappe.png');">
				<h2>Caramel Frappe</h2>
        	</div>
		</div>

		<div class="menu">
			<div class="card" style="background-image: url('img/latte.jpeg');">
				<h2>Latte</h2>
        	</div>
		</div>
	</div>
</div>
</section>