<div id="order">
	<div class="container">
		<div class="order">
			<h4 class="mb-5" data-aos="fade-down" data-aos-duration="1500">Learn more about our coffee drinks here</h4>

			<form class="d-flex">
		    	<input class="form-control bg-transparent me-2" type="search" id="search" placeholder="Search by coffee drink name" aria-label="Search" data-aos="fade-right" data-aos-duration="1500">
		        <button class="btn btn-outline-light" type="submit" data-aos="fade-left" data-aos-duration="1500">Search</button>
		    </form>

		    <div class="card mt-5" data-aos="fade-up" data-aos-duration="1500">
				<div class="card-body">
					<h2 class="card-title" id="title">The results of your search will be shown here!</h2>
					<p class="card-text" id="description"></p>
				</div>
				
				<ul class="list-group list-group-flush" id="ingredients"></ul>
			</div>
		</div>
	</div>
</div>