<footer class="footer">

    <a href="https://facebook.com">
        <div class="button">
            <div class="icon">
                <i class="bi bi-facebook"></i>
            </div>

            <span class="icon-label">Facebook</span>
        </div>
    </a>

    <a href="https://twitter.com">
        <div class="button">
            <div class="icon">
                <i class="bi bi-twitter"></i>
            </div>

            <span class="icon-label">Twitter</span>
        </div>
    </a>
    
    <a href="https://instagram.com">
        <div class="button">
            <div class="icon">
                <i class="bi bi-instagram"></i>
            </div>

            <span class="icon-label">Instagram</span>
        </div>
    </a>

    <a href="https://youtube.com">
        <div class="button">
            <div class="icon">
                <i class="bi bi-youtube"></i>
            </div>

            <span class="icon-label">YouTube</span>
        </div> 
    </a> 

</footer>

