<section id="header">
  <div class="container">
    <div class="header" data-aos="fade-down" data-aos-duration="1500" data-aos-delay="2500">
        <nav class="navbar navbar-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#header">Coffe Shop</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
              <div class="container">

                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Coffee Shop</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#header">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#menu">Menu</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#order">Order</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </nav>  
    </div>

    <p class="banner" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="2600">Relax your mind.
        <br>Drink the best coffee you'll find.
    </p>

  </div>    
</section>